<h1>Thnks,</h1>
<p>
     Your Full Name is:<%= data.firstname %>
    
  
  
</p>
<p> your Last Name is:<%= data.lastname %></p>
<p>
    Your Country is:<%= data.country %>
</p>
<p>
    Your Subject is:<%= data.subject %>
</p>
